{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ _('Edit Customer') }}{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_customer %}
                <h1> {{ _('Add a Customer') }} </h1>
            {% else %}
                <h1> {{ _('Edit a Customer') }} </h1>
                <br/>
                <p>
                    {{ _('Select parameters to edit for') }}: 
                    <span style="color: #aec251;">
                        {{ customer.acc_code }} {{ customer.f_name }} {{ customer.l_name }}
                    </span>
                </p>
                <br/>
            {% endif %}
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
