{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Customer{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        {% if customer %}
        <h1 style="text-align:center;"> {{ customer.f_name }} {{ customer.l_name }} </h1>
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <tr>
                <thead>
                  <th width="20%"> Account Code </th>
                  <td> {{ customer.acc_code }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Customer ID </th>
                  <td> {{ customer.c_id }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Name </th>
                  <td> {{ customer.f_name }} {{ customer.l_name }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Company Name </th>
                  <td> {{ customer.comp_name }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Email </th>
                  <td> {{ customer.email }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Phone </th>
                  <td> {{ customer.phone }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Billing Address </th>
                  <td> {{ customer.b_address }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> City </th>
                  <td> {{ customer.city }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> State or Province </th>
                  <td> {{ customer.state_province }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Postal Code </th>
                  <td> {{ customer.post_code }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Country or Region </th>
                  <td> {{ customer.count_region }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Contact Title </th>
                  <td> {{ customer.cont_title }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Fax Number </th>
                  <td> {{ customer.fax }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Notes </th>
                  <td> {{ customer.notes }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Order </th>
                  <td> {{ customer.order }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> State </th>
                  <td> {{ customer.state }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Status </th>
                  <td> {{ customer.status }} </td>
                </thead>
              </tr>
              <tr>
                <thead>
                  <th width="20%"> Rating </th>
                  <td> {{ customer.rating }} </td>
                </thead>
              </tr>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
