{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ _('Quotations') }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{ _('Quotations') }}</h1>
          <hr class="intro-divider">
          <div class="center">
            {{ wtf.quick_form(form) }}
            <div style="text-align: center;  padding: 10px">
              <a href="{{ url_for('admin.add_quotation') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                {{ _('Add Quotation') }}
              </a>
            </div>
            {% if quotations %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> {{ _('Quote Number') }} </th>
                  <th width="15%"> {{ _('Customer Code') }} </th>
                  <th width="15%"> {{ _('Contact') }} </th>
                  <th width="15%"> {{ _('Employee Created') }} </th>
                  <th width="15%"> {{ _('Quote Date') }} </th>
                  <th width="15%"> {{ _('Quote Amount') }} </th>
                  <th width="15%"> {{ _('Revision') }} </th>
                  <th width="30%" colspan="6"></th>
                </tr>
              </thead>
              <tbody>
              {% for quotation in quotations %}
                {% if quotation.locked %}
                   <tr style="background-color: #808080; color: white;">
                {% else %}
                <tr>
                {% endif %}
                  <td> {{ quotation.q_num }} </td>
                  <td> 
                    <a href="{{ url_for('admin.view_customer', id=quotation.c_id) }}">
                      {{ quotation.acc_code }}
                    </a>
                  </td>
                  <td> 
                    {% if quotation.contact_id %}
                    <a href="{{ url_for('admin.view_contact', id=quotation.contact_id) }}">
                      {{ quotation.l_name}} , {{ quotation.f_name }} 
                    </a>
                    {% endif %}
                  </td>
                  <td> {{ quotation.e_id }}</td>
                  <td> {{ quotation.date }} </td>
                  <td> {{ quotation.q_amount }} </td>
                  <td> {{ quotation.revision }}</td>
                  <td>
                    <a href="{{ url_for('admin.view_quotation', id=quotation.q_id) }}">
                      <i class="fa fa-eye"></i> {{ _('View') }}
                    </a>
                  </td>
                  {% if quotation.locked %}
                  <td>
                    <a href="{{ url_for('admin._revise_quotation', id=quotation.q_id) }}">
                      <i class="fa fa-edit"></i> {{ _('Revise') }}             <!-- left off here 6/4 -> add revise view func -->
                    </a>
                  </td>
                  {% else %}
                    <td>
                    <a href="{{ url_for('admin.edit_quotation', id=quotation.q_id) }}">
                      <i class="fa fa-edit"></i> {{ _('Edit') }}
                    </a>
                  </td>
                  {% endif %}
                  <td>
                    {% if not quotation.locked %}
                    <a href="{{ url_for('admin.add_quotation_detail', q_id=quotation.q_id) }}">
                      <i class="fa fa-plus"></i>
                      {{ _('Add Quote Detail') }}
                    </a>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.gen_pdf', id=quotation.q_id) }}">
                      <i class="fa fa-quora"></i> {{ _('PDF') }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin._copy_quotation', id=quotation.q_id) }}">
                      <i class="fa fa-copy"></i> {{ _('Copy') }}
                    </a>
                  </td>
                  <td>
                    {% if not quotation.locked %}
                    <a href="{{ url_for('admin.delete_quotation', id=quotation.q_id) }}">
                      <i class="fa fa-trash"></i> {{ _('Delete') }}
                    </a>
                    {% endif %}
                  </td>
                  {% if quotation.locked %}
                    <td>
                      <a href="{{ url_for('admin.lock_quotation', id=quotation.q_id, locked=0) }}">
                        <i class="fa fa-unlock"></i> {{ _('Unlock') }}
                      </a>
                    </td>
                  {% else %}
                    <td>
                      <a href="{{ url_for('admin.lock_quotation', id=quotation.q_id, locked=1) }}">
                        <i class="fa fa-lock"></i> {{ _('Lock') }}
                      </a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        <div style="text-align: center;  padding: 10px">
          <a href="{{ url_for('admin.add_quotation') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            {{ _('Add Quotation') }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
