{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Quotation Details{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Quotation Details</h1>
        {% if quotation_details %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Quote Detail ID </th>
                  <th width="15%"> Quotation ID </th>
                  <th width="15%"> Product ID </th>
                  <th width="15%"> Product Name </th>
                  <th width="15%"> Quantity </th>
                  <th width="15%"> Quote Price </th>
                </tr>
              </thead>
              <tbody>
              {% for quotation_detail in quotation_details %}
                <tr>
                  <td> {{ quotation_detail.quote_detail_id }} </td>
                  <td> 
                    <a href="{{ url_for('admin.view_quotation', id=quotation_detail.q_id) }}">
                      {{ quotation_detail.q_id }}
                    </a>
                  </td>
                  <td> 
                    <a href="{{ url_for('admin.view_product', id=quotation_detail.p_id) }}">
                      {{ quotation_detail.p_id }}
                    </a>
                  </td>
                  <td> {{ quotation_detail.p_name }}</td>
                  <td> {{ quotation_detail.quantity }} </td>
                  <td> {{ quotation_detail.q_price }} </td>
                  <td>
                    <a href="{{ url_for('admin.view_quotation_detail', id=quotation_detail.quote_detail_id) }}">
                      <i class="fa fa-eye"></i> View
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_quotation_detail', id=quotation_detail.quote_detail_id) }}">
                      <i class="fa fa-user-plus"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_quotation_detail', id=quotation_detail.quote_detail_id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        <div style="text-align: center">
        <a href="{{ url_for('admin.add_quotation_detail') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Quotation Detail
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
