{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ _('Edit Quotation Detail') }}{% endblock %}
{% block body %}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script charset="utf-8" type="text/javascript">

        $(function() {
            // jQuery selection for the product product dropdown
            var product_elt = document.getElementById('product');
            var qp = document.getElementById('quote_price');
            var up = document.getElementById('unit_price');
            var name = document.getElementById('product_name');
            $('#product_name').attr("disabled","disabled");
            $('#unit_price').attr("disabled","disabled");

            // call to update on load
            updatePrice();

            function updatePrice() {
                product_index = product_elt.selectedIndex;
                send = {
                    product_num: product_elt.options[product_elt.selectedIndex].text
                };
                console.log(send);
                $.getJSON("{{ url_for('admin._get_unit_price') }}", send, function(data) {
                    qp.value = data.price;
                    name.value = data.name;
                    up.value = String(data.price + ' (' + data.currency + ')');
                });
                return false;
            }

            // event listener to product dropdown change
            $('#product').on('change', function() {
                updatePrice();
            });
        });

    </script>
</head>

<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_quotation_detail %}
                <h1> {{ _('Add a Quotation Detail') }}</h1>
            {% else %}
                <h1> {{ _('Edit a Quotation Detail') }}</h1>
                <br/>
                <p>
                    {{ _('Select parameters to edit for') }}: 
                    <span style="color: #aec251;">
                        {{ _('Quote Num') }}: {{ quotation_detail.q_num }}, {{ _('Product Num') }}: {{ quotation_detail.p_num }}
                    </span>
                </p>
                <br/>
            {% endif %}
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
