/*FLEXBOX HERE*/
/*.container-all {
	display: flex;
}*/
.container-title {
	display: inline-flex;
	/*align-items: flex-start;*/
	/*align-items: flex-end;*/
}

.container-title ul{
	/*this modifies the main title*/
	/*color: green;*/
	float: center;
	text-align: center;
	/*flex:10;*/
}

.container-title img{
	/*flex: 1;*/
	float: left;
	width: 200px;
	height: 60px;
}

.container-top {
	display: flex;
	align-items: flex-end;
}

.container-middle {
	display: flex;
	flex-direction: column;
}

.container-bottom {
	display: flex;
}

.container-authorize {
	flex: 3;
}

/*GENERAL STYLES*/
table {
	width: 100%;
}
table th {
	text-align: center;
	border: 1px solid #010101;
	background-color: #ADBEED
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
}

table tr:nth-child(even) td {
	background-color: #e7edf0
}

ul {
	list-style-type: none;
}

.small {
	font-style: italic;
	font-size: small;
}

.bold {
	font-weight: bold;
	font-size: large;
}
/*LOWER LEVEL CLASSES*/
.quote-title {
	font-style: italic;
	font-style: bold;
	text-align: center;
}

.tabletitle {
	font-style: italic;
}

.customer_box {
	border: 1px solid #010101;
	width: auto;
	text-align: left;
	background-color: #C89ACA;
	flex: 1;
}

.shipping_table {
	/*text-align: right;*/
	flex: 2;
}

.total_box {
	text-align: right;
	padding: 10px;
	margin-right: 20px;
	width: 98%;
	flex: 1;
}

.note_box {
	text-align: left;
	flex: 1;
	padding-right: 15px;
}

.address_box {
	flex: 1;
	text-align: left;
	border: 1px solid #010101;
}

.signature {
    border: 0;
    border-bottom: 1px solid #000;
    width: 300px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}