{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{ _('Contacts') }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{ _('Contacts') }}</h1>
          <hr class="intro-divider">
          <div class="center">
            {{ wtf.quick_form(form) }}
            <div style="text-align: center; padding: 10px">
              <a href="{{ url_for('admin.add_contact', c_id=0) }}" class="btn btn-default btn-lg">
                  <i class="fa fa-plus"></i>
                  {{ _('Add Contact') }}
               </a>
            </div>
            {% if contacts %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> {{ _('Account Code') }} </th>
                  <th width="30%"> {{ _('Name') }} </th>
                  <th width="15%"> {{ _('Email') }} </th>
                  <th width="30%"> {{ _('Phone') }} </th>
                  <th width="30%" colspan="3"></th>

                </tr>
              </thead>
              <tbody>
              {% for contact in contacts %}
                <tr>
                  <td> 
                    <a href="{{ url_for('admin.view_customer', id=contact.c_id) }}">
                      {{ contact.acc_code }}
                    </a>
                  </td>
                  <td> {{ contact.f_name }} {{ contact.l_name }} </td>
                  <td> {{ contact.email }} </td>
                  <td> {{ contact.phone }} </td>
                  <td>
                    <a href="{{ url_for('admin.view_contact', id=contact.contact_id) }}">
                      <i class="fa fa-eye"></i> {{ _('View') }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_contact', id=contact.contact_id) }}">
                      <i class="fa fa-user-plus"></i> {{ _('Edit') }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_contact', id=contact.contact_id) }}">
                      <i class="fa fa-trash"></i> {{ _('Delete') }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        <div style="text-align: center; padding: 10px">
          <a href="{{ url_for('admin.add_contact', c_id=0) }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              {{ _('Add Contact') }}
           </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
